<form action="/posts" method="POST">
  <label>Post Name: </label><input type="text" name="name">
  <label>Content: </label><input type="text" name="content">
  <input type="submit" id="submit">
  
</form>

<a href="/posts">Go to All Posts</a>