<form method="post" action="/posts">
  <h3>New Post</h3>
  <p>Post Title</p>
 <input type="text" name="name">
  <p>Post Content</p>
  <input type="text" name="content">
  <input type="submit" id="submit">
</form>
